@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap');
@media (prefers-color-scheme: dark){
    :root{
        --border:#3b3b3b;
        --light:#fff;
        --dark:#404040;
        --backborder:#292929;
        --back:#242424;
        --color:#ff6600;
        --color2:#a8531a;
        --ccc:#ccc;
        --tranback: rgba(41, 41, 41,.6);
        --tranborder:rgba(255, 102, 0,.4);
        --brodernotran:#ff6600;
    }
}
@media (prefers-color-scheme: light){
    :root{
        --border:#d4d4d4;
        --light:#242424;
        --dark:#fff;
        --backborder:#f2f2f2;
        --back:#fff;
        --color:#ff6600;
        --color2:#a8531a;
        --ccc:#ccc;
        --darkback: rgba(41, 41, 41,.6);
        --tranback: rgba(204, 204, 204,.6);
        --tranborder:rgba(255, 102, 0,.4);
        --brodernotran:#ff6600;
    }
}
::selection{
    background:var(--tranborder);
    color:#242424;
    border-radius:5px;
    padding:2px;
    border-bottom: 2px solid var(--color)
}
body{
    outline:none;
    border:none;
    margin:none;
    padding:none;
    background-color:var(--back);
    background-image: url(/static/background.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    text-align:center;
    font-family: IBM Plex Sans;
    color:var(--light);
    transition: background 1s;
}

.replit-auth-button{
    color: var(--back);
    background-color: var(--light);
    background-size: 18px;
    background-position: 16px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 44px;
    font-weight: 600;
    line-height: 40px;
    width: 280px;
    height: 44px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    transition: backg .2s;
}
.replit-auth-button:hover{
    filter:brightness(85%);
}

.textback{
    padding:5px;
    border-radius:5px;
    background-color: var(--tranback);
}

.nav{
    border-bottom:2px solid var(--border);
    position:fixed;
    top:25px;
    left:0px;
    background-color:var(--tranback);
    height:45px;
    width:100%;
}

.nav a{
    text-decoration:none;
    color:var(--light);
    cursor:pointer;
    float:left;
    height:100%;
    width:80px;
    line-height:45px;
    transition:.2s background-color;
    user-select: none;
}
.nava{
    color:var(--light);
    font-size:15px;
    background:none;
    border:none;
    cursor:pointer;
    float:left;
    height:100%;
    width:80px;
    line-height:45px;
    transition:.2s background-color;
    user-select: none;
}

.nav a:hover{
    background-color:var(--tranborder);
    border-bottom: 2px solid var(--color);
}
.nava:hover{
    background-color:var(--tranborder);
    border-bottom: 2px solid var(--color);
}
.top{
    color:#242424;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:25px;
    background-color:var(--color);
    line-height:25px;
    font-weight:500;
}

.docs{
    width:100%;
    justify-content: center;
    flex-flow: wrap;
    display:flex;
    text-align:center;
    position:absolute;
	text-align:left;
    top:300px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
}

.docs a{
    cursor:pointer;
	border: 2px solid var(--border);
    line-height:20px;
    text-decoration:none;
	position:relative;
    color:var(--light);
    font-weight:800;
    font-size:15;
    text-align:left;
    padding:15px;
    margin:5px;
    float:right;
    width:170px;
    height:190px;
    background:var(--tranback);
    border-radius:10px;
	transition: all .2s;
    overflow:hidden;
}

.docsdesc{
    text-align:left;
    font-weight:400;
    font-size:40;
}
#dochover:hover{
	border: 2px solid var(--color);
    filter:brightness(85%);
}

.your{
    font-size:30px;
    font-weight:700;
    position:absolute;
    top:200px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
}

.pick{
    position:fixed;
    top:72px;
    left:0px;
    background:var(--tranback);
    height:45px;
    width:100%;
    border-bottom:2px solid var(--border);
}
.pick a{
    margin:10px 4px;
    cursor:pointer;
    float:left;
    transition:.2s all;
}

.picka{
    user-select: none;
    font-family: 'Material Icons';
    background:var(--backborder);
    border-radius:4px;
    height:23px;
    width:23px;
    line-height:23px;
    transition:.2s all;
    border:1px solid var(--border)
}
.picka:hover{
    color:var(--color);
    filter:brightness(95%);
    border:1px solid var(--color);
}

.color{
    cursor:pointer;
    border-radius:4px;
    height:26px;
    border:none;
    outline:none;
    background:var(--backborder);
    transition:.2s all;
    border:1px solid var(--border)
}

.num{
    color:var(--light);
    border-radius:4px;
    width:40px;
    height:22px;
    background:var(--backborder);
    border:none;
    transition:.2s all;
    border:1px solid var(--border)
}

.num:focus{
    outline:none;
    border: 1px solid var(--color);
    filter:brightness(95%);
}
.color:focus{
    border: 1px solid var(--color);
    filter:brightness(95%);
}

.title{
    color:var(--light);
    border-radius:4px;
    width:200px;
    background:var(--backborder);
    border:none;
    height:22px;
    transition:.2s all;
    border:1px solid var(--border)
}

.title:focus{
    outline:none;
    border: 1px solid var(--color);
    filter:brightness(95%);
}

.text{
    overflow: hidden;
    font-family:  Arial, Helvetica, sans-serif;;
    margin:10px;
    padding:60px;
    resize: none;
    position:absolute;
    top:200px;
    background:#fff;
    width:60%;
    aspect-ratio:1/1.4142;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    z-index:-1;
    border:none;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.19);
}
.text:focus{
    outline:none;
    border:none;
}

@media print{
    .text{
        white-space: pre-wrap;
        position:fixed;
        height:100%;
        max-width:none;
        width:100%;
        z-index:100;
        aspect-ratio:none;
        box-shadow:none;
        margin:0px;
        top:0px;
        left:0px;
        padding:0px;
        -ms-transform: none;
        transform: none;
    }
    body{
        background-image: none;
    }
}

.delete{
    cursor:pointer;
    border-radius:5px;
    position:fixed;
    right:5px;
    bottom:5px;
    color:var(--light);
    padding:5px;
    background:var(--backborder);
    font-family: 'Material Icons';
    transition:.2s all;
    user-select: none;
    border: 1px solid var(--border);
}
.delete:hover{
    color:#b80000;
    filter:brightness(95%);
    border: 1px solid #b80000;
}

@media (max-width: 500px){
    .nav{
        height:35px;
    }
    .nav a{
        font-size:11px;
        line-height:35px;
        width:55px;
    }
    .nava{
        font-size:11px;
        line-height:35px;
        width:55px;
    }
    .title{
        width:100px;
    }
    .num{
        width:25px;
    }
    .color{
        width:25px;
    }
    .pick{
        top:60px;
    }
}

 .data{
    display:flex;
    text-align:center;
    position:absolute;
	text-align:left;
    top:300px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);  
}

.data a{
	border: 2px solid var(--border);
    line-height:40px;
    text-decoration:none;
	position:relative;
    color:var(--light);
    font-weight:800;
    font-size:15;
    text-align:left;
    padding:15px;
    margin:5px;
    float:right;
    width:170px;
    min-height:190px;
    background:var(--backborder);
    border-radius:10px;
	transition: all .2s;
}

.datatext{
    text-align:left;
    font-weight:900;
    font-size:40;
}

.md{
    font-weight:600;
    cursor:pointer;
    border-radius:5px;
    position:fixed;
    left:5px;
    bottom:5px;
    color:var(--light);
    padding:5px;
    background:var(--backborder);
    transition:.2s all;
    user-select: none;
    border: 1px solid var(--border)
}

.md:hover{
    filter:brightness(95%);
    color:var(--color);
    border: 1px solid var(--color);
}

.foot{
    position:fixed;
    bottom:0px;
    left:0px;
    background-color:var(--tranback);
    height:20px;
    width:100%;
    text-align:left;
    font-size:12px;
    line-height:20px;
}

.delmode{
box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.19);
    height:150px;
    width:400px;
    border: 1px solid var(--border);
    background:var(--backborder);
    border-radius:10px;
    color:var(--light);
}
.delmode::backdrop{
    background:#0d0d0d;
    opacity:.6;
}

.close{
    font-weight:400;
    text-align:center;
    font-family: 'Material Icons';
    background:var(--dark);
    border:1px solid var(--border);
    position:absolute;
    top:5px;
    right:5px;
    height:31px;
    width:31px;
    line-height:25px;
    border-radius:5px;
    color:var(--light);
    font-size:18px;
    transition:.2s all;
}
.close:hover{
    border:1px solid var(--color);
    filter:brightness(95%);
    cursor:pointer;
}
.close:focus{
    outline:none;
    border:none;
}

.cancel{
    text-align:center;
    background:var(--dark);
    border:2px solid var(--border);
    position:absolute;
    bottom:5px;
    right:70px;
    height:30px;
    width:60px;
    line-height:20px;
    border-radius:5px;
    color:var(--light);
    font-size:15px;
    transition:.2s all;
}

.cancel:hover{
    border:2px solid var(--color);
    filter:brightness(95%);
    cursor:pointer;
}

.cancel:focus{
    outline:none;
    border:2px solid var(--color);
    filter:brightness(95%);
}

.delete_it{
    text-align:center;
    background:#b80000;
    border:2px solid #b84000;
    position:absolute;
    bottom:5px;
    right:5px;
    height:30px;
    width:60px;
    line-height:20px;
    border-radius:5px;
    color:var(--light);
    font-size:15px;
    transition:.2s all;
}

.delete_it:hover{
    border:2px solid #ff6600;
    filter:brightness(85%);
    cursor:pointer;
}

code{
    background:#e6e6e6;
    border-radius:5px;
    padding:3px;
}