<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <link rel="manifest" href="/static/manifest.json">
    </head>
    <body>
        <div class="top" id="top">Booogle Write</div>
        <nav class="nav">
            <a>Home</a>
            <a>New</a>
            <a>Feedback</a>
            <a>Booogle</a>
            <a>Like</a>
            <a>Follow Me</a>
        </nav>
        <span class="your textback">Your Documents</span>
        <div class="docs">
            <a id="dochover">Title<br><span class="docsdesc">This doc has this in it.</span></a>
            <a id="dochover">Title<br><span class="docsdesc">This doc has this in it.</span></a>
            <a id="dochover">Title<br><span class="docsdesc">This doc has this in it.</span></a>
        </div>
        <script>
            name = {{name|tojson}}
            document.getElementById("top").innerText = "Booogle Write - "+name
            document.querySelector("body").style.setProperty("background-image","url(/static/background.jpg)")
        </script>
        <script src="/static/app.js"></script>
    </body>
</html>