<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <link rel="manifest" href="/static/manifest.json">
    </head>
    <body>
        <form method="post">
        <div class="top" id="top">Booogle Write</div>
        <nav class="nav">
            <input style="float:right;" class="nava" value="Save" type="submit">
            <a>Home</a>
            <a>New</a>
            <a>Feedback</a>
            <a>Booogle</a>
            <a>Like</a>
            <a>Follow Me</a>
        </nav>
        <nav class="pick">
            <a><input type="text" name="title" placeholder="Title"class="title"></a>
            <a class="picka" onclick="send('bold')">format_bold</a>
            <a ><input name="color" type="color" class="color"></a>
            <a><input name="size" type="number" max="100" min="5" placeholder="Size" class="num"></a>
            <a class="picka" onclick="send('left')">format_align_left</a>
            <a class="picka" onclick="send('center')">format_align_center</a>
            <a class="picka" onclick="send('right')">format_align_right</a>
            <a class="picka" onclick="print()">print</a>
        </nav>
        <textarea name="text" class="text"></textarea>
        </form>
        <script>
            name = {{name|tojson}}
            document.getElementById("top").innerText = "Booogle Write - "+name
            var id = 0
            var bold = "False"
            var align = "center"
            function send(a) {
                if (a == "bold"){
                    if (bold == "False"){
                        bold = "True"
                    }
                    else if(bold == "True"){
                        bold = "False"
                    }
                }
                else if (a == 'left'|| a == 'center' || a == 'right'){
                    align = a
    
                }
                url = "?id="+id+"&bold="+bold+"&align="+align
                console.log(url)
            }
            
        </script>
        <script src="/static/app.js"></script>
    </body>
</html>