<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>Booogle</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" id="theme" content="#ff6600">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <link rel="manifest" href="/static/manifest.json">
    </head>
    <body>
        <form id="form" method="post" action="">
        <div class="top" id="top">Booogle Write</div>
        <nav class="nav">
            <input style="float:right;" onclick="save=true" class="nava" value="Save" type="submit">
            <a href="/home">Home</a>
            <a href="/new">New</a>
            <a>Feedback</a>
            <a href="https://booogle-two.goodvessel92551.repl.co/">Booogle</a>
            <a href="/__repl">Like</a>
            <a href="https://replit.com/@GoodVessel92551">Follow Me</a>
        </nav>
        <nav class="pick">
            <a><input id="title" type="text" name="title" maxlength="20" placeholder="Title"class="title"></a>
            <a class="picka"id="bold" onclick="send('bold')">format_bold</a>
            <a ><input id="color" onchange="change('color')"value="#000000" name="color" type="color" class="color"></a>
            <a><input id="size" onchange="change('size')" name="size" type="number" max="100" min="5" placeholder="Size" class="num"></a>
            <a class="picka" id="left" onclick="send('left')">format_align_left</a>
            <a class="picka" id="center" onclick="send('center')">format_align_center</a>
            <a class="picka" id="right" onclick="send('right')">format_align_right</a>
            <a class="picka" onclick="print()">print</a>
        </nav>
        <textarea onkeyup="change()" name="text" id="text"class="text"></textarea>
            <div onclick="delit()" class="delete">delete</div>
        </form>
        <script>
            name = {{name|tojson}};
            doc = {{doc|tojson}};
            console.log(doc)
            document.getElementById("top").innerText = "Booogle Write - "+name
            var id = doc[6]
            var bold = doc[5]
            var align = doc[4]
            var save = false
            function send(a) {
                if (a == "bold"){
                    if (bold == "False"){
                        bold = "True"
                        document.getElementById("bold").style.color = "#ff6600"
                        document.getElementById("text").style.fontWeight = "bold"
                    }
                    else{
                        bold = "False"
                        document.getElementById("bold").style.color = "var(--light)"
                        document.getElementById("text").style.fontWeight = "normal"
                    }
                }
                else if (a == 'left'|| a == 'center' || a == 'right'){
                    align = a
                    document.getElementById("left").style.color = "var(--light)"
                    document.getElementById("center").style.color = "var(--light)"
                    document.getElementById("right").style.color = "var(--light)"
                    document.getElementById(a).style.color = "#ff6600"
                    document.getElementById("text").style.textAlign = a
                }
                url = "/write?id="+id+"&bold="+bold+"&align="+align
                document.getElementById("form").action = url
            }
            function load() {
                document.getElementById("title").value = doc[0]
                document.getElementById("color").value = doc[2]
                document.getElementById("size").value = doc[1]
                document.getElementById("text").style.color = doc[2]
                document.getElementById('text').innerHTML = doc[3]
                document.getElementById("text").style.fontSize = doc[1]+"px"
                document.getElementById("text").style.textAlign = doc[4];
                url = "/write?id="+id+"&bold="+doc[5]+"&align="+doc[4]
                document.getElementById(doc[4]).style.color = "#ff6600"
                document.getElementById("form").action = url
                if (doc[5] == "True"){
                    document.getElementById("bold").style.color = "#ff6600"
                    document.getElementById("text").style.fontWeight = "bold";
                }else{
                    document.getElementById("bold").style.color = "var(--light)"
                }
            }
            function change(a) {
                if (a == "color"){
                    document.getElementById("text").style.color = document.getElementById("color").value
                }else{
                    document.getElementById("text").style.fontSize = document.getElementById("size").value+"px"
                }
            }
            window.addEventListener('beforeunload', function (e) {
                if (save == false){
                    e.preventDefault()
                    e.returnValue = ''
                }
            })
            function delit() {
                window.open("/delete?id="+id,"_self")
            }
            load()
        </script>
        <script src="/static/app.js"></script>
    </body>
</html>